body
{
	background-color: white;
	color: #DD0000;
	padding-left: 100px;
	padding-right: 100px;
	position: relative;
}
a:link
{
	color: #DD0000;
}
a:visited
{
	color: #DD0000;
}
a:hover
{
	color: #DD0000;
}
p
{
	color: #DD0000;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Electrolize', sans-serif;
	font-weight: 800;
	font-size: 24px;
	padding-left: 100px;
	padding-right: 100px;
}
p.maindownload
{
	text-align: center;
}
h1
{
	color: #DD0000;
	text-align: center;
	font-family: 'Orbitron', bold;
	font-weight: 900;
	font-size: 50px;
}
h2
{
	color: white;
	background-color: #DD0000;
	display: block;
	text-align: center;
	font-family: 'Orbitron', bold;
	font-weight: 900;
	font-size: 40px;
}
/*
li
{
	text-align: center;
	float: left;
	font-family: 'Orbitron', bold;
	font-weight: 900;
	display: block;
	color: white;
	width: 250px;
	padding: 10px;
	text-decoration: none;
	background-color: darkred;
}
li a
{
	text-decoration: none;
}
li a:hover
{
	background-color: red;
	color: white;
}
li a:visited
{
	background-color: red;
	color: white;
}
li a:link
{
	color: white;
}*/
ul.mainMenu
{
	margin: auto;
	list-style-type: none;
	overflow: hidden;
	display: table;
}
li.mainMenuElement
{
	font-family: 'Orbitron', bold;
	font-weight: 900;
	font-size: 20px;
	color: white;
	background-image: url("images/ui/navbar-button.svg");
	background-size: 100%;
	text-decoration: none;
	text-align: center;
	float: left;
	display: block;
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-inline-start: 0px;
	width: 250px;
}
li.mainMenuElement:hover
{
	color: black;
	background-image: url("images/ui/navbar-button-hover.svg");
}
ul.subMenu
{
	float: center;
	font-family: 'Orbitron', bold;
	font-weight: 900;
	display: block;
	color: white;
	text-decoration: none;
	position: absolute;
	padding-top: 10px;
	z-index: 3;
	width: 250px;
	padding-inline-start: 0px;
}
li.menuElement
{
	display: block;
	background-image: url("images/ui/navbar-button.svg");
	background-size: 100%;
	color: white;
	z-index: 4;
	padding-inline-start: 0px;


	text-align: center;
	text-decoration: none;
}
li.menuElement:hover
{
	background-image: url("images/ui/navbar-button-hover.svg");
}
a.menubutton
{
	display: block;
	text-align: center;
	font-family: 'Orbitron', bold;
	font-weight: 900;
	font-size: 20px;
	text-decoration: none;
	color: white;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}
a.menubutton:hover
{
	color: black;
}
div.vidcontainer
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
div.img-container:before
{
	z-index: 1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 40px solid transparent;
	border-image: url("images/ui/video-border.png") 40 round;
	border-image-outset: 5px;
	box-sizing: border-box;
}
div.img-container
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
    width: 80%;
    height: 0%;
    padding-bottom: 25%;
}
img.homeimage
{
    position: absolute;
	z-index: 0;
    top: 0;
    left: 0;
	object-fit: cover;
    width: 100%;
    height: 100%;
}
div.weap-img-container:before
{
	z-index: 1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 40px solid transparent;
	border-image: url("images/ui/video-border.png") 40 round;
	border-image-outset: 5px;
	box-sizing: border-box;
}
div.weap-img-container
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
    width: 60%;
    height: 0%;
    padding-bottom: 30%;
}
img.weapon-image
{
    position: absolute;
	z-index: 0;
    left: 0;
	object-fit: cover;
    width: 100%;
    height: 100%;
}
img.mapimgacross:before
{
	z-index: 1;
	content: "";
	position: absolute;
	width: 100%;
	height: auto;
	border: 40px solid transparent;
	border-image: url("images/ui/video-border.png") 40 round;
	border-image-outset: 5px;
	box-sizing: border-box;
}
img.mapimgacross
{
	border-style: solid;
	border-color: #DD0000;
	border-width: 10px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	width:100%;
	height: auto;
}
div.weap-icon-container
{
	background-color: white;
	position: relative;
    width: 100%;
    height: auto;
	border: 40px solid transparent;
	align-content: center;
}
img.weap-icon:before
{	
	z-index: 1;
	content: "";
	position: relative;
	width: 100%;
	height: auto;
}
img.weap-icon
{
    position: relative;
	z-index: 0;
	object-fit: cover;
    width: 16%;
    height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	border-image: url("images/ui/weap-icon-border.png") 40 round;
	box-sizing: border-box;
}
video.home-video
{
    position: absolute;
	z-index: 0;
    top: 0;
    left: 0;
	object-fit: cover;
    width: 100%;
    height: 100%;
}
iframe
{	
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div.centered
{
	text-align: center;
}
img
{
	max-width: 100%;
	height: auto;
}
div.nopadding
{
	padding-left: -100px;
	padding-right: -100px;
}
